@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background: #000;
}

p{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.textoAzul{
    text-shadow: 0 0 5px #54a6ef,
    0 0 10px #54a6ef,
    0 0 15px #54a6ef,
    0 0 20px #54a6ef,
    0 0 30px #54a6ef,
    0 0 40px #54a6ef,
    0 0 50px #54a6ef,
    0 0 70px #54a6ef,
    0 0 90px #54a6ef,
    0 0 100px #54a6ef;
}
.textoVerde{
    text-shadow: 0 0 5px rgb(134, 255, 148),
    0 0 10px rgb(134, 255, 148),
    0 0 15px rgb(134, 255, 148),
    0 0 20px rgb(134, 255, 148),
    0 0 30px rgb(134, 255, 148),
    0 0 40px rgb(134, 255, 148),
    0 0 50px rgb(134, 255, 148),
    0 0 70px rgb(134, 255, 148),
    0 0 90px rgb(134, 255, 148),
    0 0 100px rgb(134, 255, 148);
}
.textoFucsia{
    text-shadow: 0 0 5px #7d17b8,
    0 0 10px #7d17b8,
    0 0 15px #7d17b8,
    0 0 20px #7d17b8,
    0 0 30px #7d17b8,
    0 0 40px #7d17b8,
    0 0 50px #7d17b8,
    0 0 70px #7d17b8,
    0 0 90px #7d17b8,
    0 0 100px #7d17b8;
}

.btn{
    color: #fff;
}

.btnAzul{
   background: #54a6ef; 
}
.btnVerde{
   background: #86ff94; 
}
.btnFucsia{
   background: #7d17b8; 
}

.btnAzul:hover{
    border: 1px solid #54a6ef;
    color: #54a6ef;
}
.btnVerde:hover{
    border: 1px solid #86ff94;
    color: #86ff94;
}
.btnFucsia:hover{
    border: 1px solid #7d17b8;
    color: #7d17b8;
}